---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


table th, table td{
    font-size:  0.8em;
}

table .warning{
    opacity: 0.3;
}

li img{
    width: 70%;
    height: auto;
    margin: 1em;
}
.span-class{
    color: #00B22F;
}
.tab-content{
    margin-bottom: 20em;
}

.img-cellphone{
    width: 50%;
}


#menu-main{
    position: fixed;
    top:0;
    left:0;
    width: 100em;
}

.row{
    margin-bottom: 2em;
}

div {
	margin-bottom: 40px;
}

hr {
	border: 4px solid #eee;
	width: 30%;
	margin: 4em 0;
}

.img-30{
    width: 30%;
}

.img-50{
    width: 50%;
}



